.increment {
  font: inherit;
  cursor: pointer;
  padding: 0 0.6rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color:orange;
  border: 1px solid orange;
  color: white;
}

.increment:hover,
.increment:active {
  background-color: orange;
  border-color: orange;
}

.decrement {
  font: inherit;
  cursor: pointer;
  padding: 0 0.6rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: #ffffff;
  border: 0.5px solid #0000007a;
  color: black;
}

.submit {
  font: inherit;
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-weight: normal;
  background-color: #ffffff;
  border: 0.5px solid #0000007a;
  color: black;
}

.submit:hover,
.submit:active{
  background-color: orange;
  border-color: orange;
  color:#ffffff;
}

.submit:disabled{
  color:orange;
  border-color: orange;
}

.decrement:hover,
.decrement:active {
  background-color: #e2e2e2;
  border-color: #0000007a;
}

.cart-btn {
  font: inherit;
  cursor: pointer;
  color: #ffffff;
  background-color: orange;
  border: 1px solid orange;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.cart-btn:hover,
.cart-btn:active {
  background-color: orange;
  border-color: orange;
  color: white;
}
.cart-btn-close {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.cart-btn-close:hover,
.cart-btn-close:active {
  background-color: orange;
  border-color: orange;
  color: white;
}
